# Set default behavior to make all line-endings as LF
* text eol=lf

# Ensure shell scripts and config files stay in LF (Linux style)
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
.editorconfig text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf

# Ensure also cross-platform XAML files are in LF
*.xaml text eol=lf

# Force CRLF for Windows batch files
*.bat text eol=crlf
*.ps1 text eol=crlf
*.cmd text eol=crlf
